@model IEnumerable<Rebusjakt.Models.Hunt>
@{
    ViewBag.Title = "Rebusjakt";
}

<div class="content-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
                <h1 class="heading">Rebusjakt</h1>
            </div>
        </div>
    </div>
</div>
<div class="content-inner">
    <div class="container">
                <div class="card-wrap">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="card">
                                <div class="card-main">
                                    <div class="card-img">
                                        <img src="http://d2igriiyls8v77.cloudfront.net/images/rebusheader.jpg" />
                                    </div>
                                    <div class="card-inner">
                                        <p class="card-heading text-alt">Välkommen till rebusjakt</p>
                                        <p>
                                            Rebusjakt är ett spel där du ska lösa rebusar som leder till platser där du får svara på frågor.
                                        </p>
                                        <p>
                                            Vet du hur det går till kan du sätta igång direkt <a id="btn-bylocation" href="#" class="btn btn-blue"><span class="icon icon-my-location"></span> Hitta jakter nära mig</a>
                                        </p>
                                        <p>
                                            Är du ny här kan du läsa vår <a href="/guide" title="Guide">guide - Hur gör man?</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @foreach (var item in Model)
                        {
                            <div class="col-lg-6 col-md-6">
                                <div class="card">
                                    <div class="card-main">
                                        <div class="card-inner">
                                            <p class="card-heading text-alt">@item.Name</p>
                                            <p>
                                                <span class="icon icon-place text-green"></span> Startplats: @item.StartLocation<br />
                                                <span class="icon icon-label text-green"></span> Tema: @item.Theme <br />
                                                <span class="icon icon-timer text-green"></span> Tidsgräns: @(item.TimeLimit == 0 ? "Ingen" : item.TimeLimit + " minuter")<br />
                                                <span class="icon icon-event text-green"></span> Skapad: @item.CreatedDate.ToString("dd MMM - yyyy")
                                            </p>                   
                                            <p>
                                                <a href="/jakt/@item.Id/@item.Slug" class="btn btn-blue" title="@item.Name">
                                                    Visa
                                                </a>
                                            </p>                         
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
        </div>
        

        
      
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            var handleGeoPosition = function (position) {
                var lat = position.coords.latitude;
                var lng = position.coords.longitude;
                window.location = "/search/bylocation/?latStr=" + lat + "&lngStr=" + lng;
            };
            var handleGeoError = function () {
                toastIt("Kan inte hitta din position...");
            };

            $("#btn-bylocation").on("click", function (e) {
                e.preventDefault();
                if ("geolocation" in navigator) {
                    navigator.geolocation.getCurrentPosition(handleGeoPosition, handleGeoError);
                }
            });

        });
    </script>
}
