@model Rebusjakt.Models.Hunt

@{
    ViewBag.Title = "Delete";
}
<div class="content-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
                <h1 class="heading">Ta bort @(Model.Name)?</h1>
            </div>
        </div>
    </div>
</div>
<div class="content-inner">
    <div class="container">
        <h3>Är du helt säker på att du vill ta bort jakten?</h3>
        <p>
            @Model.Name
        </p>
        <p>
            @Model.Description
        </p>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Ta bort" class="btn btn-default" />
            </div>
        }
        <p>
            @Html.ActionLink("Tillbaka till admin", "Index")
        </p>
    </div>
</div>
        