@model IEnumerable<Rebusjakt.Models.Hunt>
@{
    ViewBag.Title = "Admin";
}
<div class="content-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
                <h1 class="heading">Admin</h1>
            </div>
        </div>
    </div>
</div>
<div class="content-inner">
    <div class="container">
        <p>
            <a href="/riddleadmin/create" class="btn btn-blue" title="Ny Jakt">Ny jakt</a>
        </p>
        <div class="card-wrap">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="card">
                            <div class="card-main">
                                <div class="card-inner">
                                    <p class="card-heading text-alt">@item.Name</p>
                                    <p>
                                        @item.Description
                                    </p>
                                    <div class="activation-container">
                                        
                                        Länk till jakten: <a href="/jakt/@item.Id/@item.Slug" title="">/jakt/@item.Id/@item.Slug</a>
                                        <p>
                                            <strong class="activation-message">@(item.IsActive ? "Visas publikt" : "Visas inte publikt")</strong> &nbsp;
                                            <a href="#" class="btn-makeactive btn btn-blue @(item.IsActive ? "hide" : "")" data-id="@item.Id">Visa publikt</a>
                                            <a href="#" class="btn-makeinactive btn btn-flat btn-red btn-sm @(item.IsActive ? "" : "hide")" data-id="@item.Id">Visa inte publikt</a>
                                        </p>
                                    </div>
                                    
                                </div>
                                <div class="card-action">
                                    <ul class="nav nav-list pull-left">
                                        <li>
                                            <a href="/riddleadmin/riddles/@item.Id" title="Lägg till rebusar">
                                                <span class="text-blue">Rebusar</span>
                                            </a>
                                        </li>
                                        <li>
                                            
                                        </li>
                                        <li>
                                            <a href="/riddleadmin/edit/@item.Id" title="Ändra"><span class="access-hide">Ändra</span><span class="icon icon-edit"></span></a>
                                        </li>
                                        <li>
                                            <a href="/riddleadmin/delete/@item.Id" title="Ta bort"><span class="access-hide">Ta bort</span><span class="icon icon-delete"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                </div>
            </div>
           
        </div>
    </div>
    

@section scripts{
    <script>
        $(function () {
            $(".btn-makeactive").on("click", function (e) {
                e.preventDefault();
                var id = $(this).attr("data-id");
                var self = this;
                var container = $(self).closest(".activation-container");
                var messageHolder = container.find(".activation-message");
                $.post("/riddleadmin/makeactive", { id: id }, function (response) {
                    if (response === "ok") {
                        $(self).addClass("hide");
                        container.find(".btn-makeinactive").removeClass("hide");
                        messageHolder.html("Visas nu publikt!");
                    } else {
                        messageHolder.html(response);
                    }
                },"json");
            });

            $(".btn-makeinactive").on("click", function (e) {
                e.preventDefault();
                if (!confirm("Är du säker på att du inte vill att den här jakten ska vara synlig längre?")) {
                    return false;
                }
                var id = $(this).attr("data-id");
                var self = this;
                var container = $(self).closest(".activation-container");
                var messageHolder = container.find(".activation-message");
                $.post("/riddleadmin/makeinactive", { id: id }, function (response) {
                    if (response === "ok") {
                        $(self).addClass("hide");
                        container.find(".btn-makeactive").removeClass("hide");
                        messageHolder.html("Visas inte publikt!");
                    } else {
                        messageHolder.html(response);
                    }
                }, "json");
            });
        });
    </script>

}