@model Rebusjakt.Models.Hunt

@{
    ViewBag.Title = "Create";
}
<div class="content-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
                <h1 class="heading">Ny Jakt</h1>
            </div>
        </div>
    </div>
</div>
<div class="content-inner">
    <div class="container">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <form action="/hunt/create" method="post" class="form">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.StartLatitude)
            @Html.HiddenFor(m => m.StartLongitude)
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-10">
                        <label for="Name">Namn</label>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control form-control-default" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-10">
                        <label for="Description">Kort beskrivning</label>
                        <textarea name="Description" id="Description" cols="30" rows="5" class="form-control form-control-default">@Model.Description</textarea>
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-10">
                        <label for="StartLocation">Startplats</label>
                        @Html.EditorFor(model => model.StartLocation, new { htmlAttributes = new { @class = "form-control form-control-default" } })
                        @Html.ValidationMessageFor(model => model.StartLocation, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div id="location-picker"></div>
            <div class="form-group-btn">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-10">
                        <button class="btn btn-blue waves-button waves-light waves-effect" type="submit">Spara</button>
                    </div>
                </div>
            </div>
            
        </form>
        <p>
            @Html.ActionLink("Tillbaka till admin", "Index")
        </p>
    </div>
</div>
@section scripts{
<script src="//maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script src="~/ReactComponents/GeocodeMap.jsx"></script>
<script src="~/ReactComponents/LocationPicker.jsx"></script>

}

