@model Rebusjakt.ViewModels.HuntIndexViewModel
@{
    ViewBag.Title = Model.Hunt.Name;
}

<div class="content-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
                <h1 class="heading">@Model.Hunt.Name</h1>
            </div>
        </div>
    </div>
</div>
<div class="content-inner">
    <div class="container">
        <div class="card-wrap">
            <div class="card">
                <div class="card-inner">                    
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <p>
                                <span class="icon icon-place text-green"></span> Startar vid: @Model.Hunt.StartLocation <br />
                                <span class="icon icon-label text-green"></span> Tema: @Model.Hunt.Theme <br />
                                <span class="icon icon-timer text-green"></span> Tidsgräns: @(Model.Hunt.TimeLimit == 0 ? "Ingen" : Model.Hunt.TimeLimit + " minuter") <br />
                                <span class="icon icon-event text-green"></span> Skapad: @Model.Hunt.CreatedDate.ToString("dd MMM - yyyy") av <a href="@Model.CreatorUrl" title="@Model.Creator">@Model.Creator</a> <br />
                            </p>
                            <p>
                                @Model.Hunt.Description
                            </p>
                            <p>Vi rekommenderar att du befinner dig vid startpunkten innan du startar jakten.</p>
                            <p>
                                <a class="btn btn-blue hunt-link" href="/game/index/@Model.Hunt.Id" title="Sätt igång jakten">Sätt igång jakten</a>
                            </p>
                            <div class="checkbox checkbox-adv">
                                <label>
                                    <input class="access-hide chk-move-hunt" type="checkbox" />Jag vill flytta jakten till en annan plats
                                    <span class="circle"></span>
                                    <span class="circle-check"></span>
                                    <span class="circle-icon icon icon-done"></span>
                                </label>
                                <a class="collapsed btn btn-flat btn-blue btn-sm" data-toggle="collapse" href="#collapsible-region">
                                    <span class="collapsed-hide">Dölj</span>
                                    <span class="collapsed-show">Läs mer</span>
                                </a>
                            </div>
                            <div class="collapsible-region collapse" id="collapsible-region">
                                <p>
                                    Om du checkar för att du vill flytta jakten kommer du i början av jakten få ange nya kartpositioner för alla rebusar samt målgången.
                                    Du kommer dock inte ha möjlighet att få lika mycket poäng om du gör detta. 
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div id="map-container"></div>
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h3 class="content-sub-heading">Topplista</h3>
                <div class="tile-wrap">
                    @if (Model.TopScores.Count == 0)
                    {
                        <div class="tile">
                            <div class="tile-inner">
                                Ingen har slutfört jakten än.
                            </div>
                        </div>
                    }
                    @foreach (var item in Model.TopScores)
                    {
                        <div class="tile">
                            <div class="pull-left tile-side">
                                <div class="avatar avatar-blue avatar-md">
                                   @(item.Score) p
                                </div>
                            </div>                            
                            <div class="tile-inner">
                                <a href="@item.UserUrl" title="@item.UserName">@item.UserName</a><br />
                                <span class="icon icon-timer text-green"></span> @item.TimeDisplay &nbsp;
                                <span class="icon icon-event text-green"></span> @item.CreatedDate.ToString("dd MMM - yyyy")
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h3 class="content-sub-heading">Vad tycker deltagarna?</h3>
                <div class="tile-wrap">
                    @if (Model.HuntReviews.Count == 0)
                    {
                        <div class="tile">
                            <div class="tile-inner">Ingen har tyckt något än.</div>
                        </div>
                    }
                    @foreach (var item in Model.HuntReviews)
                    {
                        <div class="tile">
                            @if (item.IsPositive)
                            {
                                <div class="pull-right tile-side">
                                    <div class="avatar avatar-green avatar-md">
                                        <span class="icon icon-thumb-up"></span>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="pull-right tile-side">
                                    <div class="avatar avatar-red avatar-md">
                                        <span class="icon icon-thumb-down"></span>
                                    </div>
                                </div>
                            }
                            <div class="tile-inner">
                                    @item.Description<br />
                                    <span class="icon icon-event text-green"></span> @item.CreatedDate.ToString("dd MMM - yyyy") <a href="@item.UserUrl" title="@item.UserName">@item.UserName</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(".chk-move-hunt").on("click", function(e){
            var huntLink = $(".hunt-link");
            var url = huntLink.attr("href");
            if(url.indexOf("?isRandom=true") !== -1){
                url = url.replace("?isRandom=true", "");
            }else{
                url += "?isRandom=true";
            }
            huntLink.attr("href",url);
        });
        var mapData = {
            lat: @(Model.Hunt.StartLatitude),
            lng: @(Model.Hunt.StartLongitude)
            };
    </script>
    @Scripts.Render("~/bundles/huntview")
}